.NavBar {
  background-color: #ffc268;
  text-align: center;
}

.nav-ul {
  display: inline;
}

.nav-li {
  display: inline-block;
}

.nav {
  background-color: #ffc268;
  display: flex;
  flex-direction: column;
}

.nav-button {
  display: inline-block;
  padding: 25px;
  color: #534746;
  text-decoration-style: double;
  font-weight: bold;
  font-size: 20px;
}

.button:hover {
  color: white;
}

.header {
  background-color: #ffddac;
  text-align: center;
  font-family: URW Chancery L, cursive;
  font-size: 50px;
}

.content {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}

.login-form {
  background-color: #fff5e8;
  border: 2px solid black;
  margin-left: 37%;
  height: 300px;
  width: 500px;
  display: flex;
  flex-flow: column;
  border-radius: 20px;
}

.login-form-input {
  margin: 25px;
  text-align: center;
  height: 40px;
  font-size: 25px;
}

.login-form-button {
  width: 100px;
  height: 35px;
  align-self: center;
  border-radius: 10px;
  background-color: #ffddac;
}

.signup-form {
  background-color: #fff5e8;
  border: 2px solid black;
  margin-left: 37%;
  height: 500px;
  width: 500px;
  display: flex;
  flex-flow: column;
  border-radius: 20px;
}

.signup-form-input {
  margin: 25px;
  text-align: center;
  height: 40px;
  font-size: 25px;
}

.signup-form-button {
  width: 100px;
  height: 35px;
  align-self: center;
  border-radius: 10px;
  background-color: #ffddac;
}
