.NavBar {
  background-color: #ffc268;
  text-align: center;
}

.nav-ul {
  display: inline;
}

.nav-li {
  display: inline-block;
}

.nav {
  background-color: #ffc268;
  display: flex;
  flex-direction: column;
}

.nav-button {
  display: inline-block;
  padding: 25px;
  color: #534746;
  text-decoration-style: double;
  font-weight: bold;
  font-size: 20px;
}

.nav-button:hover {
  color: #bababa;
}

.header {
  background-color: #ffddac;
  color: #534746;
  text-align: center;
  font-family: URW Chancery L, cursive;
  font-size: 50px;
}

.content {
  color: #5d4726;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}

.login-form {
  background-color: #fff5e8;
  border: 2px solid black;
  margin: 0 auto;
  height: 250px;
  width: 500px;
  display: flex;
  flex-flow: column;
  border-radius: 20px;
}

.login-form-input {
  margin: 25px;
  text-align: center;
  height: 40px;
  font-size: 25px;
}

.login-form-button {
  width: 100px;
  height: 35px;
  align-self: center;
  border-radius: 10px;
  background-color: #ffddac;
}

.signup-form {
  background-color: #fff5e8;
  border: 2px solid black;
  margin: 0 auto;
  height: 450px;
  width: 500px;
  display: flex;
  flex-flow: column;
  border-radius: 20px;
}

.signup-form-input {
  margin: 25px;
  text-align: center;
  height: 40px;
  font-size: 25px;
}

.signup-form-button {
  width: 100px;
  height: 35px;
  align-self: center;
  border-radius: 10px;
  background-color: #ffddac;
}

.profile {
  background-color: #fff5e8;
  border: 2px solid black;
  margin: 0 auto;
  height: 400px;
  width: 500px;
  display: flex;
  flex-flow: column;
  border-radius: 20px;
}

.profile-info {
  margin-top: 25px;
  margin-left: 25px;
  text-align: left;
  height: 40px;
  font-size: 25px;
}

.profile-form {
  background-color: #fff5e8;
  border: 2px solid black;
  margin: 0 auto;
  height: 450px;
  width: 500px;
  display: flex;
  flex-flow: column;
  border-radius: 20px;
}

.profile-input {
  margin: 25px;
  text-align: center;
  height: 40px;
  font-size: 25px;
}

.profile-form-button {
  margin-top: 25px;
  width: 100px;
  height: 35px;
  align-self: center;
  border-radius: 10px;
  background-color: #ffddac;
}

.profile-buttons-div {
  padding-left: 28%;

}

.profile-button {
  margin-top: 25px;
  width: 100px;
  height: 35px;
  align-self: center;
  border-radius: 10px;
  background-color: #ffddac;
}

.profile-div {
  display: flex;
  justify-content: space-between;
}

.memoryCard {
  box-shadow: 3px 3px lightgrey;
  border-radius: 15px;
  color: #534746;
  margin: 20px;
  width: 300px;
  text-align: center;
  background-color: #fff5e8;
  -webkit-animation: fadein 3s;
       -moz-animation: fadein 3s;
        -ms-animation: fadein 3s;
         -o-animation: fadein 3s;
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.memoryCard:hover {
  color: #bababa;
}

.memoryCard-button {
  width: 90px;
  height: 25px;
  align-self: center;
  border-radius: 10px;
  background-color: #ffddac;
}

.memoryCard-form-input {
  text-align: center;
  width: 150px;
  height: 25px;
}

.memories-button {
  margin: 20px;
  width: 100px;
  height: 35px;
  align-self: center;
  border-radius: 10px;
  background-color: #ffddac;
}

.memories-form {
  padding: 5px;
  border-radius: 15px;
  color: #534746;
  margin: 20px;
  width: 200px;
  height: 130px;
  text-align: center;
  background-color: #fff5e8;
}

.memories-form-button {
  width: 120px;
  height: 25px;
  align-self: center;
  border-radius: 10px;
  background-color: #ffddac;
}

.photoCard {
  box-shadow: 3px 3px lightgrey;
  border-radius: 15px;
  margin: 20px;
  width: 400px;
  background-color: #fff5e8;
  -webkit-animation: fadein 3s;
       -moz-animation: fadein 3s;
        -ms-animation: fadein 3s;
         -o-animation: fadein 3s;
            animation: fadein 3s;
}

.photoCard-title {
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.photoCard-image {
  width: 100%;
}

.photoCard-description {
padding-left: 10px;
padding-right: 10px;
}

.photoCard-button {
  width: 120px;
  height: 25px;
  margin-left: 5px;
  align-self: center;
  border-radius: 10px;
  background-color: #ffddac;
}

.photoCard-form {
  border-radius: 15px;
  margin: 20px;
  padding-left: 10px;
  padding-top: 3px;
  width: 400px;
  background-color: #fff5e8;
}

.memory-form {
  padding: 5px;
  padding-left: 10px;
  border-radius: 15px;
  color: #534746;
  margin: 20px;
  width: 250px;
  height: 170px;
  text-align: left;
  background-color: #fff5e8;
}

.memory-form-button {
  width: 120px;
  height: 25px;
  align-self: center;
  border-radius: 10px;
  background-color: #ffddac;
}

.memory-button {
  margin: 20px;
  width: 100px;
  height: 35px;
  align-self: center;
  border-radius: 10px;
  background-color: #ffddac;
}

.comment {
  padding: 10px;
  background-color: #fffefc;
}

.comment-delete {
  width: 120px;
  height: 25px;
  margin-left: 5px;
  align-self: center;
  border-radius: 10px;
  background-color: #ffddac;
}

.search-form {
  margin-left: 40%;
}

.search-input {
  width: 250px;
  height: 30px;
  text-align: center;
  font-size: 17px;
}

.memory-form-add-button {
  text-align: center;
  margin-left: 5px;
  width: 100px;
  height: 20px;
  align-self: center;
  border-radius: 10px;
  background-color: #ffddac;
}

.photoCards {
  display: flex;
  flex-wrap: wrap;
}

.memoryCards {
  display: flex;
  flex-wrap: wrap;
}

.h1 {
  margin-top: 0;
  margin-bottom: 50px;
}

.sort-by {
  margin-top: 10px;
  margin: 0 auto;
  width: 150px;
  height: 20px;
}
